@model MVC_Course_V2.ViewModels.MovieListViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@Model.Movies.ElementAt(Model.Id - 1).Name</h2>
<ul>
    <li>Genre: @Model.Movies.ElementAt(Model.Id - 1).Genre.Name</li>
    <li>Release Date: @Model.Movies.ElementAt(Model.Id - 1).ReleaseDate.ToString("dddd,MMMM d,yyyy")</li>
    <li>Date Added: @Model.Movies.ElementAt(Model.Id - 1).DateAdded.Value.ToString("dddd,MMMM d,yyyy")</li>
    <li>Number in Stock: @Model.Movies.ElementAt(Model.Id - 1).NumberInStock</li>

</ul>
